@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Store</h1>
    <h1><a asp-controller="Home" asp-action="Search">Search</a></h1>
    <h1><a asp-controller="Inventories" asp-action="Index">Browse</a></h1>
    <h1><a asp-controller="Home" asp-action="Add">Add</a></h1>
</div>

