@model App.Web.Models.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Create";
}

<h1>Success!</h1>
<h2>Customer: 
    <a asp-controller="Customers" asp-action="Details" asp-route-id="@Model.Id">@Model.FirstName @Model.LastName</a> created</h2>