@model App.Web.Models.ViewModels.CustomerVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer: @Html.DisplayFor(model => model.Name)</h4>
    <h4>Default Location: @Html.DisplayFor(model => model.Location)</h4>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.OrderHistory)</h4>
    @foreach (int i in Model.OrderHistory)
    {
        <dl class="row">
            <dt class="col-sm-2">
                <a asp-controller="Orders" asp-action="Details" asp-route-id="@i">
                    @i
                </a>
            </dt>
            </dl>
    }
<div>
    
